ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=
ELEVENLABS_VOICE_ID=
GEMINI_API_KEY=
SERPER_API_KEY=
SMTP_APP_PASSWORD=
SMTP_EMAIL=
SUPABASE_ANON_KEY=
SUPABASE_URL=
TELEGRAM_ADMIN_CHAT_ID=
TELEGRAM_BOT_TOKEN=